{% extends 'common/base.html' %}
{% block styles %}
{{ block.super }}
{% load static %}
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link href="{% static '/frontend/css/landing_page/style.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div class="content">
    <div class="row splash">
        <div class="container">
            <div class="row">
                <div class="col s12 m4 l5 splash-message">
                    <h4>Improve your grades now!</h4>
                    <p>
                        No matter what kind of academic paper you need, it is simple and secure to hire an essay writer for a price you can
                        afford at essay service. Save more time for yourself.
                    </p>
                </div>
                <div class="col s12 m8 l7 splash-form card z-depth-0">
                    <div class="row">
                        <form class="col s12 order-essay-form" method="POST" action="#">
                            <div class="row">
                                <div class="col s12">
                                    <h4 class="center">Order now</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 push-m2">
                                    <input id="email" type="email" name="registration_email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 push-m2">
                                    <select name="essay_type" id="essayType" class="browser-default">
                                        <option value="0" disabled selected>Select essay type</option>
                                        <option value="1">Option 1</option>
                                        <option value="Essay (any type)">Essay (any type)</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8 m6 push-m2">
                                    <span class="page-input-wrapper">
                                        <i class="material-icons" id="removePagesBtn">remove</i>
                                        <input id="pagesInput" type="number" name="pages" class="validate" step="1" value="1" min="1" max="100">
                                        <i class="material-icons" id="addPagesBtn">add</i>
                                    </span>
                                </div>
                                <div class="input-field col s4 m2 push-m2">
                                    <span id="totalWords">275 words</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8 m6 push-m2">
                                    <input type="text" name="deadline" class="datepicker" id="deadline">
                                </div>
                                <div class="input-field col s4 m2 push-m2">
                                    <span id="timeLeft"><i class="fa fa-question-circle tooltipped" data-position="top" data-tooltip="Time left appears here" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="row hide" id="timeRow">
                                <div class="input-field col s12 m8 push-m2">
                                    <input name="time" type="text" id="timepicker" class="timepicker" placeholder="Select Time from Now (24hrs)">
                                    <label for="timepicker">Click to set deadline</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 push-m2">
                                    <p>
                                        <label>
                                            <input type="checkbox" checked="checked" name="terms"/>
                                            <span>I agree to <a href="/terms_and_conditions">Terms and conditions</a> and <a href="/privacy_policy">Privacy Policy</a></span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 push-m2">
                                    <p>
                                        <label>
                                            <input type="checkbox" name="subscription"/>
                                            <span id="subscription">I agree to receive bonuses and promotional material</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m8 push-m2">
                                    <button type="submit" name="action" class="btn waves-effect waves-light">Continue
                                        <i class="material-icons right">send</i>
                                      </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4 class="center">What are other students saying?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m8 push-m2 slides-outer-wrapper">
                    <div class="testimonial-slides">
                        <div class="testimonial">
                            <div class="row">
                                <div class="col m7 s12 user-message-wrapper">
                                    <span class="rating">Customer rating <span>stars here</span></span>
                                    <p class="user-comment">Excellent work, highly recommend, and for crying out loud, please pay this beases of burden</p>
                                    <span class="completed-time">7 hours ago</span>
                                </div>
                                <div class="col m5 s12 order-info-wrapper">
                                    <p class="paper-title"><strong>Black lives matter</strong></p>
                                    <p class="paper-type">Essay <span class="no-of-pages">4 pages</span></p>
                                    <div class="writer-info">
                                        <img class="writer-avatar" src="{% static 'frontend/common/assets/logo.jpg' %}" alt="User Avatar">
                                        <p>Writer: <span class="writer-name red-text"><b>The real shark</b></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="row">
                                <div class="col m7 s12 user-message-wrapper">
                                    <span class="rating">Customer rating <span>stars here</span></span>
                                    <p class="user-comment">Excellent work, highly recommend, and for crying out loud, please pay this beases of burden</p>
                                    <span class="completed-time">7 hours ago</span>
                                </div>
                                <div class="col m5 s12 order-info-wrapper">
                                    <p class="paper-title">Hospitality and Management</p>
                                    <p class="paper-type">Essay <span class="no-of-pages">9 pages</span></p>
                                    <div class="writer-info">
                                        <img class="writer-avatar" src="{% static 'frontend/common/assets/logo.jpg' %}" alt="User Avatar">
                                        <p>Writer: <span class="writer-name red-text"><b>The real shark</b></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="row">
                                <div class="col m7 s12 user-message-wrapper">
                                    <span class="rating">Customer rating <span>stars here</span></span>
                                    <p class="user-comment">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem eos odit quia vitae autem id maxime quas.</p>
                                    <span class="completed-time">6 hours ago</span>
                                </div>
                                <div class="col m5 s12 order-info-wrapper">
                                    <p class="paper-title">Black lives matter</p>
                                    <p class="paper-type">Essay <span class="no-of-pages">3 pages</span></p>
                                    <div class="writer-info">
                                        <img class="writer-avatar" src="{% static 'frontend/common/assets/logo.jpg' %}" alt="User Avatar">
                                        <p>Writer: <span class="writer-name red-text"><b>The real shark</b></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right fa-3x next-btn custom-direction-icon"></i>
                    <i class="fas fa-chevron-left fa-3x prev-btn custom-direction-icon"></i>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <a class="waves-effect waves-teal btn-flat"><i class="material-icons right">arrow_forward</i>more testimonials</a>
                </div>
            </div>
        </div>
    </div>
    <div class="stats">
        <div class="container">
            <div class="container">
                <div class="row stats-row-main">
                    <div class="col s12 m4 meet-the-team-col">
                        <h4>Meet the team</h4>
                        <p>This is a group of dedicated academicians inspired by a desire to make you achive your academic goals</p>
                        <a class="waves-effect waves-teal btn"><i class="material-icons right">arrow_forward</i>Check them out</a>
                    </div>
                    <div class="col s12 m8">
                        <h4 class="center">Essay Service Stats</h4>
                        <div class="stats-row">
                            <div class="visitors stat">
                                <p class="stat-figure">234,000</p>
                                <i class="fas fa-eye fa-2x"></i>
                                <p>Visitors Daily</p>
                            </div>
                            <div class="average-quality-score stat">
                                <p class="stat-figure">9.8 <sup>out of 10</sup></p>
                                <i class="fas fa-percentage fa-2x"></i>
                                <p>Average Quality Score</p>
                            </div>
                            <div class="active-writers stat">
                                <p class="stat-figure">87</p>
                                <i class="fas fa-user-graduate fa-2x"></i>
                                <p>Writers Active</p>
                            </div>
                            <div class="writers-online stat">
                                <p class="stat-figure">43</p>
                                <i class="fas fa-signal fa-2x"></i>
                                <p>Online Right Now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static 'frontend/js/landing_page/script.js' %}"></script>
{% endblock %}
{% endblock %}